* {
    padding: 0;
    margin: 0;
    font-family: "Droid Sans Mono"!important;
}

body {
  overflow-x: hidden!important;
  background-color: #000;
  /* overflow: hidden; Hide scrollbars */
}

ul {
  list-style-position: inside;
}

video {
  opacity: 0;
}

/* Font styles */

h1 { font-family: "Droid Sans Mono"; font-size: 26px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 30px; } 
h2 { font-family: "Droid Sans Mono"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 28px; }
h3 { font-family: "Droid Sans Mono"; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 27px; } 
p { font-family: "Droid Sans Mono"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 22px; } 
li { font-family: "Droid Sans Mono"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 22px; } 
blockquote { font-family: "Droid Sans Mono"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

p, h1 {
  color: #fff!important;
}

/* Close Button at the top of every page */

.close-button-container {
  position: absolute;
  z-index: 6;
  top: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

/* Buttons */
.close-button {
    padding: 10px 20px;
    font-size: inherit;
    border: none;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;
}

.close-button:hover {
  padding: 10px 20px;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;

}

/* enf of button */



/* Home Navigation Styles */

.nav-container {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
   
} 

@media only screen and (max-width: 900px) {
    .nav-container  {
        max-width: 400px;
    }
  }

.logo-contaner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}

.nav-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 50%;
    opacity: 0.5;
    transition: 0.3s;
}

.nav-logo:hover {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
    .nav-logo {
        width: 80%;
    }
    
  }

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-list {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  text-align: center;
 padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .nav-list {
        flex-direction: column;
    }
  }

.nav-item {
    padding: 20px 10px;
}

@media only screen and (max-width: 900px) {
    .nav-item {
        padding: 10px 20px;
    }
  }



.nav-item a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s;
}

.nav-item a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.nav-social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.social-icon-wrapper {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: auto;
}

.social-icon-container {
  width: 20px;
  height: auto;
  margin-right: 16px;
}

.social-icon {
  color: #fff!important;
  opacity: 0.5;
  transition: 0.3s;
}

.social-icon:hover {
  opacity: 1;
}



/* Video styles */

video {
    object-fit: cover!important;
    width: 100vw!important;
    height: 100vh!important;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
  }   


  /* About Page Styles */


  .about-content-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  .about-page-text {
    max-width: 800px;
    text-align: center;
    font-size: inherit;
    color: #fff;
  }


/* What's on styles */

.dice-widget-container {  
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    max-width: 1400px;
} 


/* Hire page sections */

.container {
  display: flex;
  overflow: hidden;
  width: 500%;
  height: 100vh;
}

.move-section {
  height: 100%;
  width: 500%;
}


.card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hire-card-container {
  width: 30%;
  height: 600px;
  background-color: aqua;
}
 
/* Trying the horizontal scoll animations */

  .horizontal-scroll-container {
    /* This is the whole horizontal scroll container */
    width: 400%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
    overflow-x: hidden!important;
  }

  @media only screen and (max-width: 479px) {
    .horizontal-scroll-container {
      width: 100vw;
      height: auto;
      flex-direction: column;
      padding: 0 1em;
    }
  }

  .panel {
    /* This is the indivisual pages to scroll through */
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex: 0 0 100vw; */
    overflow-x: hidden!important;
  }

  @media only screen and (max-width: 479px) {
    .panel {

      width: 100%;
      height: 100%;
    }
  }


  .hire-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  .hire-intro-page-text {
    max-width: 800px;
    text-align: center;
    font-size: inherit;
  }



  .hire-card-container {
    width: 30%;
    height: 400px;
    background-color: aqua;
  }

  /* Card positioning  */
  .cards-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  @media only screen and (max-width: 479px) {
    .cards-wrapper {
        flex-direction: column;
        flex-wrap: unset;
        height: auto;
    }
  }



  .card {
    /* flex: 0 1 calc(33% - 1em); */
    scale: 1;
    opacity: 1;
    height: 460px;
    width: 300px;
    /* background-color: aqua; */
  }

  @media only screen and (max-width: 479px) {
    .card-grid {
        width: auto;
    }
  }



/* Card styles */
.card-white-sqaure {
 background-color: #fff;
 height: 20px;
 width: 220px;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  width: 100%;
}

.card-title {
  color: #fff;
  font-size: 2rem;
}


  .grid-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  

  .cards-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
  }

  @media only screen and (max-width: 479px) {
    .cards-grid {
      display: flex;
      flex-direction: column;
    }
  }

  .card-grid {
    height: 200px;
    width: 300px;
    background-color: aqua;
    margin-bottom: 20px;
  }

  .card-grid-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }


  /* THIS NEEDS MORE WORK TO GET IT EXACT */
  /* Hire content page  */
  .hire-type-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .col-1-content-wrapper {
    color: #fff;
  }



/* Columns 1 / 3 flex positioning  */
  .col-1-container, .col-3-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    /* width: 33%; */
    /* height: 100%; */
    /* padding: 0px;
    border: 2px solid red;
    height: 100%; */
  }

  .hire-page-title, .hire-page-text {
    color: #fff;
  }

  .col-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .events-images {
    /* padding-bottom: 10px; */
    object-fit: cover;
  }

  .col-2-content-wrapper {
    padding: 15px;
  }



















 /* Case Study Pages */

 .case-study-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
 }


.col-1-case-study-wrapper{

  /* padding: 20px;
  margin: 20px; */
  width: 48%;
  /* height: 100%; */
  background: red;
  border: 2px solid green;
} 

.case-study-text {
  color: #fff
}

.col-2-case-study-wrapper {
  
  /* padding: 20px;
  margin: 20px; */
  width: 48%;
  /* height: 100%; */
  background: red;
  border: 2px solid blue;
}

.case-study-img {
  max-height: 80vh;
  width: 100%;
  object-fit: ccover;
}
